@using Microsoft.AspNetCore.Components.Web
@typeparam TItem


<div class="dropdown" style="float: right;">
    <button data-toggle="dropdown" type="button" @onclick="e => this.show=!this.show "
            aria-haspopup="true" aria-expanded="false">
        <i class=@icon></i>
    </button>
    <CascadingValue name="Dropdown" Value="@this">
        <div class="dropdown-menu @(show? "show":"")">
            @ChildContent
        </div>
    </CascadingValue>
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public string icon { get; set; }

    private bool show = false;
}