@page "/ApprovalRequestView/{ApprovalId:int}"
@using System.ComponentModel.DataAnnotations;
@using Data;
@using Backend;
@using Common;

@inject ExtAuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Approval Requeste</PageTitle>

<EditForm Model=@leaveRequest>
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="Absence_Reason">Absence Reason</label>
        <InputText @bind-Value=leaveRequest.Absence_Reason class="form-control" id="Absence_Reason" disabled=@disabled["Absence Reason"] />
    </div>
    <div class="form-group">
        <label for="Start_Date">Start Date</label>
        <InputDate @bind-Value=leaveRequest.Start_Date class="form-control" id="Start_Date" disabled=@disabled["Start Date"] />
    </div>
    <div class="form-group">
        <label for="End_Date">End Date</label>
        <InputDate @bind-Value=leaveRequest.End_Date class="form-select" id="End_Date" disabled=@disabled["End Date"] />
    </div>
    <div class="form-group">
        <label for="Comment">Comment</label>
        <InputText @bind-Value=leaveRequest.Comment class="form-control" id="Comment" disabled=@disabled["Comment"] />
    </div>
</EditForm>
<EditForm Model=@approvalRequest>
    <div class="form-group">
        <label for="Comment">Comment</label>
        <InputText @bind-Value=leaveRequest.Comment class="form-control" id="Comment" disabled=@disabled["Comment_approval"] />
        @if (!hideButtons)
        {
            <button class="btn btn-primary" @onclick="@(() => Approve())" disabled=@disabled["Buttons"]>Approve</button>
            <button class="btn btn-primary" @onclick="@(() => Reject())" disabled=@disabled["Buttons"]>Reject</button>
        }
    </div>
</EditForm>
<ResultMessage show_alert=@show_alert sucess=@sucess Sucess_message="Updating employee ended with sucess" Failuer_message="Something went wrong when updating employee"></ResultMessage>

@code {
    LeaveRequest leaveRequest = new LeaveRequest();
    ApprovalRequest approvalRequest = new ApprovalRequest();
    bool show_alert = false;
    bool hideButtons = false;
    bool sucess = false;
    int my_id;

    Dictionary<string, bool> disabled = new Dictionary<string, bool>();

    [Parameter]
    public int ApprovalId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await CreateDisabled();
        my_id = (int)(await AuthenticationStateProvider.GetYourID());
        approvalRequest = (await Backend.GetApprovalRequestAsync()).Where(approval => approval.ID == ApprovalId).Single();
        leaveRequest = await Backend.GetLeaveRequestAsync((int)approvalRequest.LeaveRequest);
    }

    protected async void Approve()
    {
        approvalRequest.Approve(my_id);
        disabled["Comment_approval"] = true;
        disabled["Buttons"] = true;
        StateHasChanged();
    }

    protected async void Reject()
    {
        approvalRequest.Reject(my_id);
        disabled["Comment_approval"] = true;
        disabled["Buttons"] = true;
        StateHasChanged();
    }

    async Task CreateDisabled()
    {

        disabled.TryAdd("Absence Reason", true);
        disabled.TryAdd("Start Date", true);
        disabled.TryAdd("End Date", true);
        disabled.TryAdd("Comment", true);
        disabled.TryAdd("Comment_approval", false);
        if (approvalRequest.Status == LeaveRequestStatus.Submitted)
            disabled.Add("Buttons", false);
        else
            disabled.Add("Buttons", true);
        switch (await AuthenticationStateProvider.GetRole())
        {
            case UserAuthData.Roles.ADMINISTRATOR:
                break;
            case UserAuthData.Roles.HR_MANAGER:
                break;
            case UserAuthData.Roles.PROJECT_MANAGER:
                break;
            case UserAuthData.Roles.EMPLOYEE:
                disabled["Comment_approval"] = true;
                hideButtons = true;
                disabled["Buttons"] = true;
                break;
        }
    }

}