@page "/EmployeesList"
@using System.ComponentModel.DataAnnotations;
@using Data;
@using Backend;
@using OutOfOffice.Components.Common;
@using OutOfOffice.Components.Repository.Interfaces;

@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager
@inject ExtAuthenticationStateProvider AuthenticationStateProvider
@inject IEmployeeRepository employeeRepository

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<PageTitle>Employees List</PageTitle>
<AuthorizeView Roles="HR_MANAGER, PROJECT_MANAGER, ADMINISTRATOR">
    <Authorized Context="innerContext">
        <AuthorizeView Roles="HR_MANAGER, ADMINISTRATOR">
            <Authorized Context="innerContext2">
                <button @onclick="@(() => AddEmployee())">Add Employee</button>
            </Authorized>
        </AuthorizeView>
        <CustomTableComponent TItem="EmployeeData" all_rows=@employees>
            <RowButtons>
                <td><button @onclick="@(() => Update(context.ID))">Open</button></td>
                <AuthorizeView Roles="HR_MANAGER">
                    <Authorized Context="Context">
                        <td><button @onclick="@(() => Deactivate(context.ID))">Deactivate</button></td>
                    </Authorized>
                </AuthorizeView>
            </RowButtons>
        </CustomTableComponent>
    </Authorized>
    <NotAuthorized>
        You are not authorized to see this page.
    </NotAuthorized>
</AuthorizeView>

@code {
    List<EmployeeData> employees = new List<EmployeeData>();


    protected override async Task OnInitializedAsync()
    {
        long? my_id = await AuthenticationStateProvider.GetYourID();
        switch (await AuthenticationStateProvider.GetRole())
        {
            case UserAuthData.Roles.ADMINISTRATOR:
                employees = await employeeRepository.GetAllEmployees();
                break;
            case UserAuthData.Roles.HR_MANAGER:
                employees = await employeeRepository.GetAllEmployeeHRManager((long)my_id);
                break;
            case UserAuthData.Roles.PROJECT_MANAGER:
                employees = await employeeRepository.GetAllEmployees();
                break;
            case UserAuthData.Roles.EMPLOYEE:
                break;
        }
        foreach (EmployeeData employee in employees)
        {
            if (employee.ManagerData != null)
                employee.Manager_String = employee.ManagerData.Full_Name;
        }
    }

    protected void Update(long id)
    {
        navigationManager.NavigateTo($"/EmployeeUpdate/{id}");
    }

    protected async Task Deactivate(long employee_id)
    {
        //todo repair tracking issue
        EmployeeData employee = employees.Where(employee => employee.ID == employee_id).Single();

        employee.Deactivate();
        //workaournd for tracking issue
        employee.ManagerData = null;
        employee.ProjectInformation = null;


        await employeeRepository.Update(employee);
    }

    protected void AddEmployee()
    {
        navigationManager.NavigateTo($"/EmployeeCreator");
    }
}