@page "/"


<PageTitle>Home</PageTitle>

<div>
    <CascadingAuthenticationState>
       <AuthorizeView>
        <Authorized>
            <h1>Out of Office</h1>
            Welcome to Out of Office.
        </Authorized>
        <NotAuthorized>
            <LoginArea/>
        </NotAuthorized>
    </AuthorizeView>
    </CascadingAuthenticationState>
</div>