@using OutOfOffice.Components.Common;
@inject ExtAuthenticationStateProvider AuthenticationStateProvider
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager


<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">OutOfOffice</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />


<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <CascadingAuthenticationState>
            <AuthorizeView>
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" @onclick="async() =>LogOut()">
                            <span class="bi bi-box-arrow-right-nav-menu" aria-hidden="true"></span> Logout
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" @onclick="()=>expandListsNav = !expandListsNav">
                            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Lists
                        </NavLink>
                    </div>
                    @if (expandListsNav)
                    {
                        <AuthorizeView Roles="HR_MANAGER, PROJECT_MANAGER, ADMINISTRATOR">
                            <Authorized Context="innerContext">
                                <!--HR_MANAGER PROJECT_MANAGER ADMINISTRATOR-->
                                <div class="nav-item px-4">
                                    <NavLink class="nav-link" href="EmployeesList">
                                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Employees
                                    </NavLink>
                                </div>
                            </Authorized>
                        </AuthorizeView>
                        <div class="nav-item px-4">
                            <!--EMPLOYEE HR_MANAGER PROJECT_MANAGER ADMINISTRATOR-->
                            <NavLink class="nav-link" href="LeaveRequestList">
                                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Leave Requests
                            </NavLink>
                        </div>
                        <div class="nav-item px-4">
                            <!--EMPLOYEE HR_MANAGER PROJECT_MANAGER ADMINISTRATOR-->
                            <NavLink class="nav-link" href="ApprovalRequestList">
                                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Approval Requests
                            </NavLink>
                        </div>

                        <div class="nav-item px-4">
                            <!--EMPLOYEE HR_MANAGER(as EMPLOYEE) PROJECT_MANAGER ADMINISTRATOR -->
                            <NavLink class="nav-link" href="ProjectList">
                                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> ProjectList
                            </NavLink>
                        </div>
                    }
                </Authorized>
            </AuthorizeView>
        </CascadingAuthenticationState>
    </nav>
</div>

@code {
    bool expandListsNav = false;

    private async void LogOut()
    {
        await AuthenticationStateProvider.LogOut();
        navigationManager.NavigateTo($"/");
    }
}