@page "/LeaveRequestCreator"
@using System.ComponentModel.DataAnnotations;
@using Data;
@using Backend;
@using OutOfOffice.Components.Common;
@using OutOfOffice.Components.Repository.Interfaces;
@using OutOfOffice.Components.Common.Authentication;
@inject ILeaveRequestRepository leaveRequestRepository
@inject IEmployeeRepository employeeRepository
@inject ExtAuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Submit Leave Request</PageTitle>


<EditForm Model=@newLeaveRequest OnValidSubmit=@ValidFormSubmitted OnInvalidSubmit=@InvalidFormSubmitted>
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="Absence_Reason">Absence Reason</label>
        <InputText @bind-Value=newLeaveRequest.Absence_Reason class="form-control" id="Absence_Reason" />
    </div>
    <div class="form-group">
        <label for="Start_Date">Start Date</label>
        <InputDate @bind-Value=newLeaveRequest.Start_Date class="form-control" id="Start_Date" />
    </div>
    <div class="form-group">
        <label for="End_Date">End Date</label>
        <InputDate @bind-Value=newLeaveRequest.End_Date class="form-select" id="End_Date" @bind-Value:format="dd"/>
        </div>
    <div class="form-group">
        <label for="Comment">Comment</label>
        <InputText @bind-Value=newLeaveRequest.Comment class="form-control" id="Comment" />
    </div>
    <input type="submit" class="btn btn-primary" value="Save" />
</EditForm>
<ResultMessage show_alert=@show_alert sucess=@sucess Sucess_message="Updating employee ended with sucess" Failuer_message="Something went wrong when updating employee"></ResultMessage>

@code {
    LeaveRequestData newLeaveRequest = new LeaveRequestData();
    EmployeeData myData = new EmployeeData();
    bool show_alert = false;
    bool sucess = false;

    protected override async Task OnInitializedAsync()
    {
        long myId = (long)(await AuthenticationStateProvider.GetYourID());
        if (myId != null)
        {
            myData = await employeeRepository.GetById(myId);
            newLeaveRequest.Status = LeaveRequestStatus.New;
            newLeaveRequest.EmployeeId = myId;
        }
    }

    async void ValidFormSubmitted(EditContext editContext)
    {
        newLeaveRequest.EmployeeData = myData;
        bool result = await leaveRequestRepository.Create(newLeaveRequest);
        show_alert = true;
        sucess = result;
        StateHasChanged();
    }

    void InvalidFormSubmitted(EditContext editContext)
    {
        show_alert = true;
        sucess = false;
        StateHasChanged();
    }
}